doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        script(src="https://kit.fontawesome.com/33cf5fcfbe.js" crossorigin="anonymous")

        title Вёрстка
    body
        block content
        script(type='text/javascript', src='./assets/js/frontend-core.min.js?202009301049')
        script(type='text/javascript', src='./assets/js/script.min.js')
        link(rel='stylesheet', href='./assets/css/style.min.css')