.clips {
  position: relative;
  margin-top: -30%;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 2%;

  @media (max-width: 480px) {
    padding-bottom: 20%;
  }

  &:after {
    content: "";
    background: $orange-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-10deg);

    background-image: url("../../assets/images/cbg.png");
    background-size: 70% 40%;
    background-position: 50% 25%;
    background-repeat: no-repeat;

    @media (max-width: 480px) {
      background-size: 70% auto;
      background-position: 50% 50%;
    }
  }
}