.header {
  background-image: url("../../assets/images/hb1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 150%;
  z-index: 100;
  position: relative;

  @media (max-width: 480px) {
    height: 50%;
  }

  .label {
    position: absolute;
    margin: auto auto;
    display: block;
    right: 10%;
    bottom: 25%;

    //font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    text-align: right;

    color: $text-color;


    @media (max-width: 480px) {
      font-size: 12px;
      bottom: 30%;
      right: 2%;
    }
  }
}